<h1> Conversor de moedas </h1><br>

<div class="cont">
     <input (click)="btnSoma($event)" id="btnSoma" type="button" class="btnConverter" value="SOMA">
     <input (click)="btnSubtracao($event)"  id="btnSubtracao" type="button" class="btnConverter" value="SUBTRAÇÃO">
     <input (click)="btnMultiplicacao($event)" id="btnMultiplicacao" type="button" class="btnConverter" value="MULTIPLICAÇÃO">
     <input (click)="btnDivisao($event)" id="btnDivisao" type="button" class="btnConverter" value="DIVISÃO">
</div>

<div class="cont">
     <form id="formCal"  class="w3-container">
          <input (keyup)="saveValue($event)"  class="w3-input w3-border" type="text" style="width:135px"><br>
          <input  class="w3-input w3-border" type="text" style="width:135px" value="{{ calculo }}">
     </form>
     <br>
</div>