<h1 class="title"> Currency Converter </h1><br>

<div class="cont">
     <input (click)="btnLibra($event)" id="btnLibra" type="button" class="btnConverter" value="£">
     <input (click)="btnDolar($event)"  id="btnDolar" type="button" class="btnConverter" value="$">
     <input (click)="btnEuro($event)" id="btnEuro" type="button" class="btnConverter" value="€">
     <input (click)="btnYen($event)" id="btnYen" type="button" class="btnConverter" value="¥">
</div>
<br><br>
<div>
     <form id="formCal"  class="w3-container">
          <input (keyup)="saveValue($event)"  class="w3-input w3-border" type="text" style="width:200px"><br>
          <input  class="w3-input w3-border" type="text" style="width:200px" value="{{ str }}{{ result | currency }}">
     </form>
     <br>
</div>
